.character-single {
  h1 {
    text-align: center;
    padding: 0;
  }
  img {
    height: 550px;
  }
  .character-image {
    display: flex;
    justify-content: center;
  }
  .name-div {
    padding: 0;
  }
  a {
    display: flex;
    justify-content: start;
    font-size: 18px;
  }
}