.dropdown {
  width: 110px;
  height: 25px;
  margin-left: 5px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

.search {
  margin-left: 5px;
}