.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 2em 0;
  background-color: $bg;
}

.btn-brown{
  background-color: $button;
  color: #fff;
  border: none;
  &:hover, &:active {
    background-color: darken($button, 8%) !important;
    color: #fff;
  }
}

.loading {
  display: flex;
  justify-content: center;
  img {
    width: 150px;
  }
}

img {
  max-width: 100%;
}